.fine-dining {
    position: absolute;
    top: 35%;
    margin-left: 35%;
}
.place-order {
    position: absolute;
    top: 55%;
    margin-left: 42%;
}
.marketing {
    position: absolute;
    top: 15%;
}
